{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}

<meta property="og:description" content="Este entrenamiento ofrece una introducción al Aprendizaje Automático (Machine Learning), diseñado específicamente para desarrolladores de aplicaciones .NET interesados en explorar una de las áreas clave de la ciencia de datos y la inteligencia artificial." />
<meta property="og:image" content="{{ "/assets/Logo512x512.png" | relative_url }}" />
<meta property="og:image:alt" content="Introducción a Machine Learning con C#" />
<meta property="og:image:width" content="512" />
<meta property="og:image:height" content="512" />

 <link rel="icon" type="image/png" href="{{ "/assets/Logo512x512.png" | relative_url }}">
