body {
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', Arial, sans-serif;
}

main {
    font-family: 'Open Sans', Arial, sans-serif;
    font-size: 18px;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    padding: 30px 20px;
    margin: 0 auto;
    max-width: 800px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}
iframe {
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
    border: none;
    margin-top: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    font-family: 'Lato', 'Open Sans', Arial, sans-serif; /* Fuente clara y elegante */
    font-size: 32px; /* Tamaño de fuente destacado */
    font-weight: 700; /* Negrita para mayor énfasis */
    color: #2c3e50; /* Un color oscuro que contrasta bien con el fondo */
    margin-bottom: 20px; /* Espacio inferior para separar del contenido */
    line-height: 1.2; /* Línea ajustada para un título compacto */
    text-align: center; /* Centrar el título dentro del contenedor */
    text-transform: uppercase; /* Convertir el texto a mayúsculas para mayor impacto */
    letter-spacing: 1px; /* Espaciado entre letras para mejorar la legibilidad */
    border-bottom: 2px solid #e74c3c; /* Línea inferior para destacar el título */
    padding-bottom: 10px; /* Espacio interno para un diseño más equilibrado */
}

a {
    color: #e74c3c;
    text-decoration: none;
    font-weight: 600;
    border-bottom: 2px solid rgba(231, 76, 60, 0.3);
    transition: color 0.3s ease, border-bottom-color 0.3s ease;
}

    a:hover {
        color: #c0392b;
        border-bottom-color: rgba(192, 57, 43, 0.7);
    }
