<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        
        <div class="headercontainer">
         
          <a href="{{ page.previousurl | relative_url }}"> &lt; Anterior</a>
          {% if page.nexturl %}
             <a href="{{ page.nexturl | relative_url }}"> Siguiente  &gt; </a>
          {% endif %}
        </div>

        {{ content }}
        
      </div>
    </main>
  </body>
</html>
